/* Color palette */
/* Light color palette version */
.light {
    --base: #FFFFFF;
    --antipod: #000000;
    --main-color: #D3D3D3;
    --submain-color: #A9A9A9;
    --tile-border: #F5F5F5;
    --body-color: #fbfbfb;
    --button-color: #FBFBFB;
    --text-color: #01685D;
    --button-text-color: #262626;
    --active-color: #02AB9A;
    /* colors that changed for tiles number */
    --one-color: #0000FF;
    --four-color: #000080;
    /* border colors */
    --border-right-color: #555555;
    --border-bottom-color: #474747;
}
/* Dark color palette version */
.dark {
    --base: #000000;
    --antipod: #FFFFFF;
    --main-color: #262525; /* TODO: choose optimal color combination */
    --submain-color: #181616;
    --tile-border: #706767;
    --body-color: #3A3535;
    --text-color: #F2F2F2;
    --button-color: #383838;
    --active-color: #01685D;
    /* colors that changed for tiles number */
    --one-color: #0055FF;
    --four-color: #00BBFF;
    /* border colors */
    --border-right-color: #111111;
    --border-bottom-color: #000000;
}

* {
    box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: var(--text-color);
}

body {
    display: grid;
    margin-top: 16px;

    font-size: 16px;
    font-weight: 500;

    background-color: var(--body-color);
    place-content: center;
}

p {
    margin: 0;
}

button {
    height: 30px;
    padding: 0 12px;
    border: 1.3px solid transparent;
    border-radius: 4px;

    color: var(--button-text-color);
    background-color: var(--active-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

button:hover, 
button:active, 
.button-footer:active {
    border: 1.3px solid var(--active-color);

    color: var(--active-color);

    background-color: var(--base);
}

.header {
    display: flex;
    justify-content: center;
}

.radio-form-label {
    padding-bottom: 7px;
}

.button-header {
    margin: 0 40px;
}

.button-footer {
    width: 100px;
    height: 30px;

    /* font-size: ; */
}

.flag-wrapper {
    margin: 0 auto;
}

.mines-button {
    margin-left: 10px;
}

.active-button {
    border: 1.3px solid var(--active-color);

    color: var(--active-color);

    background-color: var(--base);
}

.theme-button {
    width: 147px;
    margin: 10px auto;
}

.game-field {
    display: flex;
    flex-wrap: wrap;

    margin: 15px auto;
    border: 3px solid var(--active-color);
    border-radius: 1px;

    background-color: var(--main-color);
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 35px; */
    /* height: 35px; */
    border: 0.18em solid var(--tile-border);
    border-right-color: var(--border-right-color);
    border-bottom-color: var(--border-bottom-color);

    /* font-size: 2.6em; */
    font-weight: 700;

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.tile:hover {
    border-color: color-mix(in srgb, var(--antipod) 9%, var(--tile-border));
    border-right-color: color-mix(in srgb, var(--antipod) 15%, var(--border-right-color));
    border-bottom-color: color-mix(in srgb, var(--antipod) 20%, var(--border-bottom-color));

    background-color: color-mix(in srgb, var(--antipod) 35%, var(--base));

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    cursor: pointer;
}

.tile-flagged:hover {
    border-color: var(--tile-border);
    border-right-color: var(--border-right-color);
    border-bottom-color: var(--border-bottom-color);

    background: none;
}

.tile-clicked {
    background-color: var(--submain-color);
    border: 0.05em solid var(--tile-border);

    pointer-events: none;
}

.remark {
    margin: 0 auto;

    font-size: 13px;
}

/* Number settings */
.number-1 {
    color: var(--one-color);
}

.number-2 {
    color: #0C840C;
}

.number-3 {
    color: #FF0000;
}

.number-4 { 
    color: var(--four-color);
}

.number-5 {
    color: #A52A2A;
}

.number-6 {
    color: #008080;
}

.number-7 {
    color: var(--antipod);
}

.number-8 {
    color: #5B5B5B;
}

.radio-wrapper {
    padding: 10px 0;
}

input:focus {
    border: none;
    outline: none;
}

#number-of-mines {
    width: 45px;
    border: none;

    font-size: inherit;
    font-weight: 500;
    color: var(--text-color);
    background-color: transparent;
}

.container {
    --size: 1em;     /* control the size */
    --gap: 10px;    /* the gap */
    --color: #009688; /* the active color */
    
    position: relative;
    display: grid;
    grid-auto-rows: 1fr;
    gap: var(--gap);
}

.container:before {
    content: "";
    position: absolute;

    height: calc(var(--size)/2);
    left: calc(var(--size)/4 + var(--_x,0px));
    top: calc(var(--size)/4);
    border-radius: 50%;

    background: var(--color);

    transition: 0.4s, left cubic-bezier(.1,-2000,.7,-2000) 0.4s;

    aspect-ratio: 1;
}

.input-size-label {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    width: 90px;

    line-height: var(--size);
    cursor: pointer;
}

.container input {
    height: var(--size);
    margin: 0;
    border: calc(var(--size) / 8) solid var(--_c,#939393);
    border-radius: 50%;
    padding: calc(var(--size) / 8);

    font-size: inherit;
    outline-offset: calc(var(--size) / 10);
    transition: 0.3s;

    aspect-ratio: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

input:checked {
    --_c: var(--color);
}

.container:not(:has(input:checked)):before {
    --_i: -1;
    opacity: 0;
}

.container:has(input:checked):before { /* here here here here here here here here */
    opacity: 1;
    transform: translateY(calc(var(--_i)*(var(--size) + var(--gap))));
}

.container:has(label:nth-child(1) input:checked):before {
    --_i: 0;
    --_x: 0.02px;
}

.container:has(label:nth-child(2) input:checked):before {
    --_i: 1;
    --_x: 0.04px;
}

.container:has(label:nth-child(3) input:checked):before {
    --_i: 2;
    --_x: 0.06px;
}
  
input:disabled {
    background: 
       linear-gradient(#939393 0 0) 
       50%/100% 20% no-repeat content-box;
    opacity: 0.5;
    cursor: not-allowed;
}


@media print {
    input[type=radio] {
        background: none;

        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;
    }
}

@supports not selector(:has(*)) {
    .container:before {
        display: none;
    }
    input:checked {
        --_c: var(--color);
        background: var(--color) content-box;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 15px;
    }
    .tile {
        font-size: 0.82em;
    }
}  

@media screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
    .tile {
        font-size: 1.5em;
    }
}  

@media screen and (min-width: 1079px) {
    body {
        font-size: 18px;
    }
    .tile {
        font-size: 1.8em;
    }
} 